@import url(./root.css);

td {
    border-bottom: 0.6px solid var(--table-border);
}
table{
  border: 0.6px solid var(--table-border);
}
table tr:last-child td{
  border-bottom: none;
}
td{
  text-align: left;
}
.align-top {
  vertical-align: top;
}
.caption{
  font-size: 0.78rem;
  color: var(--text);
}