#openTerminology {
    height: 3.5vmax;
    width: 3.5vmax;
    border-radius: 50%;
    position: sticky;
    bottom: 1vmin;
    left: 1vmin;
    background-color: rgba(0, 51, 102, 0.5);
    backdrop-filter: blur(10px);
    border: 0.08rem solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999999; /*we don't talk about this...*/
}

#terminologyModal .modal-content {
    background-color: rgba(0, 51, 102, 0.5);
    color: white;
}

#searchInput {
    width: 45%;
    background-color: rgba(0, 51, 102, 0.35);
    color: white;
    border: 0.08rem solid white;
    border-radius: 1rem;
    padding: 0.45rem;
}
#searchInput::placeholder {
    color: white;
}
#searchInput:focus {
    outline: none;
}
#searchIcon {
    margin-left: 0.5rem;
}