@import url(../../Assets/styles/variables.css);

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
}
  
.modal-content {
  background-color: rgba(217, 217, 217, 0.3);
  backdrop-filter: blur(15px);
  color: var(--text-color);
  margin: 5% auto;
  padding: 20px;
  border: 0.05rem solid #fff;
  border-radius: 1rem;
  width: 80%;
}
  
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
  
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}