.card {
    width: 23vmax; /* Set the width of the card */
    height: 18vmax;
    border: 1px solid #ccc; /* Add a border for the card */
    border-radius: 8px; /* Add rounded corners to the card */
    overflow: hidden; /* Ensure the image doesn't overflow the card */
    margin: 0.5rem
  }
  
  .card img {
    width: 100%; /* Make the image fill the width of the card */
    height: 85%; /* Maintain the aspect ratio of the image */
    object-fit: cover;
  }
  
  .card-text {
    padding: 0.4rem; /* Add padding to the text */
    /*text-align: center; Center the text */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .symptom-kategorie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }