/* Root Variables */
:root {
  /*--background: #FFFFF0;*/
  --background: #F4F9FC;
  --navbar: #5BB12F;
  --nav-text: #FFFFF0;
  --text: #708090;
  --button: #5BB12F;
  --shadow-color: rgb(91, 177, 47, 0.5);
  --button-text: #FFFFF0;
  --table-border: #7DBF73;
}

td {
    border-bottom: 0.6px solid var(--table-border);
}
table{
  border: 0.6px solid var(--table-border);
}
table tr:last-child td{
  border-bottom: none;
}
td{
  text-align: left;
}
.align-top {
  vertical-align: top;
}
.caption{
  font-size: 0.78rem;
  color: var(--text);
}